header {
   
}
.mainlogo {
    display: flex;
    justify-content: center;
    
}

img {
    max-width: 100%;
    padding-top: 2em;
    position: relative;
    
}

.active {
    text-decoration: underline;
}
nav {
    display: flex;
    justify-content: center;
    padding: 0.5em;
   
}

.navbar {
    list-style-type: none;
    display: flex;
    background-color: #0A3641;
    font-size: 1.2em;
    border-radius: 7px 0 0 7px;
    
}

a {
    text-decoration: none;
    color: white;
}

 li {
    padding: 4px 10px 5.5px 5px;

 }
input {
    border-radius: 5px;
    border: none;
}
 .searchbar form {
    margin-top: 1.2em;
    background-color: #0A3641;
    padding: 6.5px 0 6.5px 0;

}

form {
    display: flex;
    background-color: #0A3641;
}

.searchbar_cta {
    font-size: 10em;
    
}
button {
    color: white;
    background-color: #0A3641;
    border: none;
    cursor: pointer ;
}

.shopping_cart_cta {
    margin: 1.2em 0 1.2em 0;
    background-color: #0A3641;
    padding: 5.5px 6px 6px 0;
    border-radius:  0 10px 10px 0;
    
}

h1 {
    text-align: center;
    color: #707070;
}

