header {
   
}
.mainlogo {
    display: flex;
    justify-content: center;
    
}

img {
    max-width: 100%;
    padding-top: 2em;
    position: relative;
    
   
}
nav {
    display: flex;
    justify-content: center;
    padding-top: 0.5em;
   
}

.navbar {
    list-style-type: none;
    display: flex;
    background-color: teal;
    
}

a {
    text-decoration: none;
}

 li {
     padding: 0 10px 0 0;

 }

 .searchbar {
   padding-top: 1em;
  

}



form {
    display: flex;
    background-color: teal;
}

.searchbar_cta {
    border: none;
    
}


.shopping_cart_cta {
    padding-top: 1.1em;


}